service capsense_reset /system/vendor/bin/capsense_reset
   class core
   user system
   group system input
   disabled

on property:sys.boot_completed=1 && property:ro.vendor.boot.radio=BRLA
    start capsense_reset

on early-init && property:ro.bootmode=mot-factory
   insmod /vendor/lib/modules/moto_f_usbnet.ko

on mmi-priority
   # Only high priority MMI DLKMs loaded here
   # For instance, sensor_class referenced from several DLKMs
   # and needs to load first. Touchscreen might need extra time
   # to perform firmware update if necessary
   setprop vendor.mmi_init.stage priority
   exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules himax_v2_mmi_hx83102d himax_v2_mmi nova_0flash_mmi

on fs
   # Majority of MMI DLKMs should be in this group
   setprop vendor.mmi_init.stage common
   # Load dependencies synchronously, then load the rest async
   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules mmi_annotate mmi_info sensors_class
   exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules snd_smartpa_aw882xx ldc2114_keys raydium_mmi max170xx_battery_mmi exfat mmi_sys_temp tzlog_dump
   exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules watchdog_cpu_ctx qpnp-smbcharger-mmi sx933x_sar mmi_nfc_clk stmvl53l1 qpnp-power-on-mmi abov_sar_mmi_overlay

on post-fs-data
   # Load DLKM that can afford being loaded later
   setprop vendor.mmi_init.stage late
   start vendor.mmi_modules
   wait_for_prop init.svc.vendor.mmi_modules stopped
   setprop vendor.mmi_init.stage complete

on init
   # Change ownership for for HBM feature
   chown system system /sys/class/graphics/fb0/hbm
   # Change ownership for for ACL feature
   chown system system /sys/class/graphics/fb0/acl
   # Change to lzo for zram
   write /sys/block/zram0/comp_algorithm lzo

on boot
   # change permission for capsensor
   chown system system /sys/class/capsense/reset
   chown root input /sys/class/sensors/capsense_bottom/enable
   chown root input /sys/class/sensors/capsense_bottom/poll_delay
   chown root input /sys/class/sensors/capsense_top/enable
   chown root input /sys/class/sensors/capsense_top/poll_delay

   chown system system /sys/class/backlight/panel1-backlight/brightness
   chown system system /sys/class/backlight/panel1-backlight/max_brightness

   # in FBE mode, /data is here
   write /sys/block/sdb/queue/read_ahead_kb 512

   # Set custom vibration strength
   write /sys/class/leds/vibrator/gain 20

    # Change permission for fingerprint sensor
    chown system vendor_tcmd /sys/devices/platform/soc/0.fpc_fpc1020/dev_enable
    chown system vendor_tcmd /sys/devices/platform/soc/0.fpc_fpc1020/irq
    chown system vendor_tcmd /sys/devices/platform/soc/0.fpc_fpc1020/irq_cnt
    chmod 0440 /sys/devices/platform/soc/0.fpc_fpc1020/irq_cnt

    chmod 0777 /proc/android_touch/debug

    chmod 660 /dev/cci_intf
    chown system camera /dev/cci_intf

    #Add for camera flashlight
    chown system system /sys/class/leds/led:flash_0/brightness
    chown system system /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:switch_0/brightness
    chmod 0664 /sys/class/leds/led:flash_0/brightness
    chmod 0664 /sys/class/leds/led:torch_0/brightness
    chmod 0664 /sys/class/leds/led:switch_0/brightness

service vendor.mmi_modules /vendor/bin/init.mmi.modules.sh
    user root
    oneshot
    disabled

#Turn on led to indicate device on in factory mode
on property:ro.bootmode=mot-factory
    write /sys/class/leds/charging/brightness 10
